@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Roboto;
}

.mainHome {
  background-color: rgb(11, 11, 11);
  color: white;
  min-height: 100vh;
}

.navBar {
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.095);
  align-items: center;

  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 5px;
  backdrop-filter: blur(10px);

  .appLogo {
    /* padding: 10px; */
    padding-left: 10px;

    
  }

  .tags {
    display: flex;
    width: 100%;
    /* gap: 10px; */
    justify-content: space-around;

    .tagLinks {
      color: white;
      text-decoration: none;
      transition: all 0.2s;
    }

    .tagLinks:hover {
      color: rgb(197, 197, 197);
    }
  }

}

.navBar .appLogo img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.heroSection {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;

  /* background-color: blue; */
  .backgroundVid {
    height: 100vh;
    width: 100vw;
    background-color: black;

  }

  .heroImage {
    position: absolute;
    bottom: 0px;
  }
}

.heroSection  h1 {
  position: absolute;
  top: 40px;
  font-size: 60px;
  font-family: "Bitter", serif;
  /* background-color: black; */
  padding: 5px 25px;
}

.heroImage img {
  object-fit: cover;
  height: 80vh;
  filter: drop-shadow(0 0 10rem #008080);
  animation: introHeroImage 0.7s ease-in;
}

.backgroundVid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* backdrop-filter: blur(20px); */
  filter: blur(20px);
  opacity: 0.4;
}

@keyframes introHeroImage {
  0% {
    transform: scale(1.2);
    opacity: 0.2;
  }
}

.subscribeBtn {
  position: absolute;
  bottom: 10%;
  font-size: 40px;
  font-weight: 400;
  background-color: #00d4a6;
  padding: 30px 30px;
  border-radius: 10px;
  color: black;
  transition: all 0.4s;
  transform: rotate(-2deg);
  animation: subscribeBtn 3s infinite;
}

.subscribeBtn:hover {
  background-color: #008080;
  color: white;
}

.teamLifeCatchSection {
  background-color: rgb(16, 16, 16);
  width: 100%;
  min-height: 400px;
  padding: 20px;

  .sectionContent {
    gap: 30px;

    .sectionImages {
      display: flex;
      position: relative;
      flex: 1;
      height: 500px;
      justify-content: center;
      background-color:#00d4a6;
      border-radius: 20px;
      transform: rotate(1deg);
      
      .blackBikerImage{
        height: 500px;
        z-index: 2;
        transform: translateX(-60px);
    
      }
      .adultModelImage{
        height: 470px;
        z-index: 1;
        transform: translateX(30px);
      }
    }
  }
}

.teamLifeCatchSection .sectionContent p {
  flex: 1;
  padding: 30px;
}
.teamLifeCatchSection .sectionContent img {
  object-fit: contain;
  position: absolute;
  bottom: 0;
}

.sectionHeading {
  font-size: 2.5em;
  font-weight: 500;
  font-family: "Montserrat", serif;
}

.sectionContent {
  display: flex;
}

.forTheQuickAndTheCautiousSection{
  padding: 20px;
  padding-top: 30px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  .sectionImages{
    justify-content: center;
    position: relative;
    display: flex;
    background-color:#9ce6f3;
    border-radius: 20px;
    height: 600px;
    width: 90%;
    
    .blackBikerImage{
      height: 590px;
      z-index: 3;
      right: 35%;
    }
    .adultModelImage{
      right: 25%;
      height: 550px;
    }
    .kidModel{
      left: 25%;
      height: 400px;
      z-index: 3;
    }
    .oldModel{
      left: 30%;
      height: 550px;
      z-index:2;
      
    }
  }
}

.forTheQuickAndTheCautiousSection .sectionImages img{
  position: absolute;
  bottom: 0;
  object-fit: contain;
}

.getYoursNow  h1{
  text-align: center;
}

.getYoursNow .sectionContent img{
  position: absolute;
  height: 400px;
  object-fit: contain;
  bottom: 10%;
  /* transform: rotate(0deg); */
}

.getYoursNow{
  padding: 20px;
  min-height: 500px;
 
  .sectionContent{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 500px;
    position: relative;
    .getYoursNowsectionImages{
      /* transform: rotate(-1deg); */
      position: relative;
      display: flex;
      justify-content: center;
      height: 500px;
      width: 500px;
      background-color: #00d4a6;
      border-radius: 20%;
      /* animation: rotateAnimation 3s infinite; */
    }
    
    .greenJacket{
      transform: translateX(-20%);
      z-index: 3;
    }
    .blackJacket{
      transform: translateX(20%);
      z-index: 3;
    }
    .rotateBox{
      height: 500px;
      aspect-ratio: 1/1;
      background-color: #11e7b8 ;
      animation: rotateAnimation 4s infinite;
      border-radius: 25%;
      z-index: 1;
    }
    .subscribeBtn{
      z-index: 4;
      position: absolute;
      /* bottom: 0; */
      background-color: rgb(38, 190, 236);
      color: black;
      border: 1px solid white;
      transform: rotate(2deg);
      animation: subscribeBtn 2s infinite;
    }
    .subscribeBtn:hover{
      background-color: black;
      border: none;
      color: white;
    }
  }
}

@keyframes rotateAnimation{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes subscribeBtn{
  0%{
    transform: rotate(-2deg) translateY(10px);
  }
  50%{
    transform: rotate(2deg) translateY(0);
  }
  100%{
    transform: rotate(-2deg) translateY(10px);
  }
}


.ourteam{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourteam h1{
  text-align: center;
}
.ourteam .sectionImages{
  border-radius: 20px;
  width: fit-content;
}
.teamImage{
  margin-top: 20px;
  object-fit: contain;
  height: 500px;
  border-radius: 20px;
}

.ourteam{
  .profileCardHolder{
    display: flex;
    margin: 30px;
    margin-top: 70px;
    gap: 20px;
    flex-wrap: wrap;
  }
}


.profileCard{
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.1s;
}
.profileCard:hover{
  transform: scale(1.05);
}
.profileCard h1{
  font-size: 25px;
}
.profileCard p{
  text-align: center;
  font-weight: 200;
}
.profileImage img{
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

.contactUs{
  margin-top: 40px;
  background-color: rgb(232, 232, 232);
  color: black;
  padding-left: 20px;
}
.contactUs .sectionContent{
  padding: 20px;
}
.contactUs .links{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contactUs .links a{
  transition: all 0.2s;
  display: flex;
  gap: 10px;
}
.contactUs .links a:hover{
  color: rgb(184, 184, 184);
}


@media (max-width: 500px){
  .mainHome{
    width: 100svw;
    overflow: hidden;
  }

  .navBar{
    width: 100%;
    font-size: 12px;
  }
  .heroSection  h1{
    top: 15%;
  }
  .heroImage img{
    height: 70vh;
  }
  .teamLifeCatchSection .sectionContent{
    display: flex;
    flex-direction: column;
  }
 
  .teamLifeCatchSection .sectionContent .sectionImages{
    height: 1000px;
    background-color: red;
    z-index: 1;
    .blackBikerImage{
      height: 400px;
    }
  }

  .teamLifeCatchSection .sectionContent p{
    padding: 10px;
    font-size: 14px;
  }
  
}