.main {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    background-color: rgb(223, 249, 214);
}

.nav {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    position: fixed;

    width: 100vw;
    z-index: 3;
}

.storeArea {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.imageArea {
    display: flex;
    /* background-color: yellow; */
    flex: 1;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    /* border: 2px solid black; */
    position: relative;
    background-color: white;
}

.imagesTab {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 0.8;
    height: 100%;
    min-width: 50px;
    padding: 5px;
    gap: 10px;
    align-items: center;
    justify-content: start;

}

.imagesTab img {
    aspect-ratio: 1/1;

    object-fit: cover;
    /* border: 2px solid rgb(49, 49, 49); */
    box-shadow: 1px 1px 10px black;
}

.bigImage {
    /* background-color: red; */
    height: 400px;
    min-width: 350px;
    flex: 7;
    /* position: absolute; */
    z-index: 0;
}

.bigImage img {
    height: 100%;
    height: 100%;
    object-fit: contain;
}

.detailsArea {
    flex: 1;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsArea h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 10px 20px;
    font-family: "Roboto", "Poppins";
    text-align: left;
    width: 100%;
    padding-left: 20px;
}

.detailsArea p {
    padding: 0px 30px;
}

.detailsArea ul {
    margin: 30px;
}

.subscribeBtn {
    background-color: rgb(245, 167, 0);
    color: white;
    font-weight: 400;
    font-size: 25px;
    padding: 10px 20px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 3px 3px 10px black;
}

.subscribeBtn:hover {
    background-color: rgb(244, 178, 55);
}

.modelSwitcher {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: flex;
    gap: 10px;
}

.modelSwitcher img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(81, 81, 236);
    transition: all 0.2s;
    box-shadow: 1px 1px 10px 2px black;
}

.modelSwitcher img:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.subscribeDialogMain{
    background-color: black;
    color: white;
    height: 100px;
    border: none;
    border-radius: 20px;
    width: 90%;
    height: fit-content;
    top: 30%;
    
}
.dialogContent{
   margin:10px  30px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.subscribeDialogMain button{
    background-color: white;
    color: black;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}
.dialogContent h1{
    font-size: 20px;
}
.dialogContent input{
    border-radius: 5px;
}

@media (max-width: 500px) {
    .imagesTab {
        position: absolute;
        width: 70px;
        z-index: 2;
    }
}